
{% extends 'application_manager/base.html' %}

{% block body %}

  <div class="container">

    <form method="POST">
      {% csrf_token %}
      <br />

      <p>
        Are you sure you want to delete the following email address?
        <br />
        <br />
        {{ object }}
      </p>

      <br />

      <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
      <a href="{% url 'email_manager:emails_addresses_list' %}"><button type="button" class="btn btn-secondary btn-sm">Cancel </button></a>

    </form>
  </div>

{% endblock %}
